<div>
  <div style='margin-bottom: 10px;'>
    <span style='color:black'>Hi <b>{{name}}</b>,</span><br />
    <span style='color:black; m'>You requested to reset your account password.</span><br
    />
  </div>
  <span style='color:black'>Click below to continue reseting your password</span>
  <buton>
    <a
      style='
      background-color: #58bc8c;
      padding: 7px;
      display: block;
      border-radius: 7px;
      color: white;
      font-weight: 600;
      margin: 7px 0;
      width: 104px;
      text-decoration: none;
    '
      href={{magicLink}}
    >Reset Password</a>
  </buton>
  <em style='display: inline-block;'>
    Note: This link will expire in 10 minutes
  </em>
  <div style='width:100%; display:flex; justify-content:center'>
    <img src='cid:logo' width='420' height='270' />
  </div>
</div>